@use './mimixins' as mix;
@use './variables' as var;

.head {
  background: url("../images/Mask.png"), linear-gradient(243deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-size: cover;
  height: 800px;
  position: relative;
}
.head-title {
  text-align: center;
  padding-top: 330px;
  &__h1montserrat {
    @include mix.h1-head;
  }
  &__h4montserrat {
    @include mix.h4-head;
  }
}
.arrow {
  position: absolute;
  left: 50%;
  top: 85%;
}

//navi
.navi {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  &__nav {
    display: flex;
    gap: 90px;
    &__text {
      @include mix.nav-text;
    }
  }
  &__social {
    letter-spacing: 10px;
    &__item {
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}
//Projects
.project {
  &__title {
    text-align: center;
    padding-block: 90px;
    @include mix.h2;
  }
}

.project1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  &__content {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 100px;
    &__subtitle {
      @include mix.subtitle;
      padding-top: 200px;
    }
    &__title {
      @include mix.h2;
      padding-bottom: 20px;
    }
    &__dicr {
      @include mix.dicr;
      padding-bottom: 20px;
    }
    &__btn {
      padding: 10px 20px;
      width: 190px;
      height: 50px;
      background-color: #FFFFFF;
      border: 1px solid;
      cursor: pointer;
      @include mix.nav-text(var.$black);
      &:hover {
        color: var.$blue;
      }
    }
    &__link {
      @include mix.link;
      padding-top: 50px;
    }
  }
}

.rectangle1 {
  position: absolute;
  left: 200px;
  top: 100px;
}

.project2 {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  &__content {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 200px;
  }
}
.rect-block {
  position: relative;
  &__rectangle2 {
    position: absolute;
    right: 100px;
    bottom: -100px;
  }
}
//news
.bg-news {
  background: url("../images/Backgroundnews.png");
  background-size: cover;
  height: 978px;
  margin-top: 200px;
}

.news {
  position: relative;
  padding: 0 150px;
  &__item {
    width: 370px;
    height: 514px;
    background-color: #FFFFFF;
    margin-inline: 20px;
    &__title {
      padding: 15px;
      @include mix.subtitle;
    }
    &__discr {
      padding: 0 15px 25px;
      @include mix.dicr;
    }
    &__author {
      padding: 0 15px;
      display: flex;
      align-items: center;
      gap: 15px;
      &__name {
        @include mix.subtitle;
        font-size: 18px;
      }
      &__date {
        @include mix.nav-text(var.$blue)
      }
    }
  }
}

//GALLERY
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include mix.h2;
    margin-block: 60px;
  }
  &__btn {
    @extend .project1__content__btn;
    margin-block: 60px;
  }
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "scott scott photos echo"
    "scott scott fuse tram";
}
.scott { grid-area: scott; }
.photos { grid-area: photos; }
.echo { grid-area: echo; }
.fuse { grid-area: fuse; }
.tram { grid-area: tram; }

//Contact
.map-bg {
  background: url("../images/Map.png");
  background-size: cover;
  height: 700px;
  position: relative;
}
//footer
.footer {
  padding-top: 250px;
  display: flex;
  justify-content: space-around;
  &__copyrights {
    padding-top: 20px;
    @include mix.nav-text(var.$white);
  }
}
.footer-bg {
  background: url("../images/footerBg.png");
  background-size: cover;
  height: 549px;
}