.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);

}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.icons {
    display: flex;
    gap: 4rem;

}

.dn {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrapper {
    padding: 380px 380px;
}