/* text */
.text-ENG {
    font-family: 'Tourney', cursive;
    font-size: 22px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 6%;
}

.text-nav {
    font-family: 'Staatliches';
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
    letter-spacing: 3%;
    color: black;
}

.text-title {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
}

.chapter {
    font-family: 'Farro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4%;
}


.text-section {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

a {
    text-decoration: none;
}

span {
    background-color: #DADADA;
}

/* box */
.mb-70--header {
    margin-bottom: 70px;
    margin-inline: 120px;
}

.content {
    margin-inline: 120px;
}

.end-section--mb {
    margin-bottom: 90px;
}

.layout {
    width: 1440px;
    height: 2375px;
}

/* flex */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-nav {
    display: flex;
    align-items: center;
    padding-right: 600px;
    /* position: relative;
    right: 17rem; */
}