.container {
    display: grid;
    width: max-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr;
    gap: 30px;
    grid-template-areas:
        "h-first h-first h-first"
        ". item-landscape item-landscape"
        "item-landscape2 item-landscape2 ."
        ". item-landscape3 item-landscape3";
    justify-items: center;
    align-items: center;

}

.h-first {
    grid-area: h-first;
}

.item-landscape {
    grid-area: item-landscape;
}

.item-landscape2 {
    grid-area: item-landscape2;
}

.item-landscape3 {
    grid-area: item-landscape3;
}