.wrapper {
    background: #8d8d90;
    margin: 100px 100px;
}

.container {}

.pickles {
    background: #88839E;
}

.apples {
    background: #7A7593;
}

.oranges {
    background: #88839E;
}

.plates {
    background: #7A7593;
}

.bentos {
    background: #88839E;
}

.sake {
    background: #7A7593;
}

/* :hover */
.pickles:hover {
    background-color: #7c8085;
    border-block: solid whitesmoke;
}

.apples:hover {
    background-color: #7c8085;
    border-block: solid whitesmoke;
}

.oranges:hover {
    background-color: #7c8085;
    border-block: solid whitesmoke;
}

.plates:hover {
    background-color: #7c8085;
    border-block: solid whitesmoke;
}

.bentos:hover {
    background-color: #7c8085;
    border-block: solid whitesmoke;
}

.sake:hover {
    background-color: #7c8085;
    border-block: solid whitesmoke;
}

/* :active */
.pickles:active {
    background-color: rgb(199, 58, 58);
}

.apples:active {
    background-color: rgb(199, 58, 58);
}

.oranges:active {
    background-color: rgb(199, 58, 58);
}

.plates:active {
    background-color: rgb(199, 58, 58);
}

.bentos:active {
    background-color: rgb(199, 58, 58);
}

.sake:active {
    background-color: rgb(199, 58, 58);
}

/* :checked */
/* 
input+label:checked {
    text-decoration: underline;
    color: aqua;
    background-color: antiquewhite;
    width: 100px;
    height: 100px;

} */