$dark-green: #52C29D;
$middle-green: #CAEFF2;
$light-green: #E1F4F5;
$lighten-green: #F4FEFF;
$dark-blue: #007FFC;
$middle-blue: #B9DCFF;
$light-blue: #D1E7FF;
$lighten-blue: #E8F3FF;
$black: #16133D;

$site-header-height: 80px;
$site-footer-heigth: 110px;
$site-inline-padding: 135px;
$site-section-padding: 100px;