*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.wrapper {

  background-color: rgb(158, 190, 158);
}

.header {
  background-color: orange
}

.footer {
  background-color: yellow;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
  height: 500px;
  background-color: lightcoral;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  background-color: lightgray;
}

form {
  display: flex;
  flex-direction: column;
}