.padding-inline {
    padding-inline: 135px;
}

.padding-top {
    padding-top: 10px;
}


.padding-content {
    padding-block: 150px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mblock-28 {
    margin-block: 28px;
}