.navigation {
    list-style: none;
    gap: 2rem;
}

.bg-content {
    background-color: #F6F6F6;
}

.btm {
    background-color: white;
    border: 1px solid;
    padding: 10px 20px;
}

.block-span {
    display: block;
}