$desktop-screen: 1440px;
$laptops-screen: 910px;
$tablet-screen: 768px;
$mobile-screen: 480px;
$min-mobile-screen: 320px;

$desktop-inline-padding: 300px;
$laptops-inline-padding: 54px;
$tablet-inline-padding: 12px;
$mobile-inline-padding: 8px;

$white: #fff;
$accent: #5373FD;