/* box */
.padding-inline {
    padding-inline: 235px;
}

.padding-block {
    padding-block: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* flex */
.flex {
    display: flex;
}

.flex-direction {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.navigation {
    gap: 40px;
    height: 80px;
    list-style: none;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    border-bottom: 1px solid black;
}

/* text */
.text-center {
    text-align: center;
}

.text-gray {
    color: #828282;
}


/* decoration, selector test */

.bg-gray {
    background: #F6F6F6;
}

[data-position |="hover"]:hover {
    font-weight: bold;
}

p>span:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
}

[class*=butt] {
    border-radius: 22px;
    color: white;
    background-color: #070707;
    width: 180px;
    height: 44px;
}

button:hover {
    background-color: rgb(145, 137, 137);

}